.chapters_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 4%;
  margin-left: 2%;
}

.loadingMessage {
  font-size: 24px;
  font-weight: bold;
  color: #007bff;

  text-align: center;
  margin: 20px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadeIn 1.5s ease-in-out infinite;
}

@keyframes fadeIn {
  0%,
  100% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
}

.page_title {
  font-size: 35px;
  font-weight: bolder;
  letter-spacing: 5px;
  text-align: center;
}

.chapters {
  border: 1px solid;
  padding: 10px;
  width: 300px;
  height: 100px;
  font-size: 20px;
  font-weight: bold;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background-image: linear-gradient(
    to top,
    #1e3c72 0%,
    #1e3c72 1%,
    #2a5298 100%
  );
  color: white;
  border-radius: 20px;
  border: none;
  text-align: center;
  transition: all 0.5s;
}

.chapters:hover {
  background-color: #0056b3;
  transform: translateY(-10px);
}

.link {
  text-decoration: none;
  color: black;
}

.chapters_head {
  display: flex;
  justify-content: space-between;
}

.chapters_backBtn {
  background-color: #e74c3c; /* Red */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.chapters_backBtn:hover {
  background-color: #c0392b;
}
