.login_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
  align-items: center;
  padding: 30px;
  border-radius: 15px;
  background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
.page_title {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 3px;
  color: #333;
  text-align: center;
}

.login_title {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
  color: #007bff;
}

.div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.label {
  font-weight: bold;
  color: #555;
}

@keyframes focusAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes typingAnimation {
  0%,
  100% {
    box-shadow: 0 0 12px rgba(0, 123, 255, 0.5);
  }
  50% {
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
  }
}
.login_form {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.input {
  width: 300px;
  height: 30px;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s, transform 0.3s;
  background: linear-gradient(135deg, #f0f0f0, #e0e0e0);
  font-size: 16px;
  color: #333;
}

.input:focus {
  border-color: #007bff;
  box-shadow: 0 0 12px rgba(0, 123, 255, 0.5);
  outline: none;
  animation: focusAnimation 0.6s ease-in-out forwards;
}
.input::placeholder {
  text-align: center;
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: 800;
}

.input:focus::placeholder {
  color: transparent;
}

.input:focus:not(:placeholder-shown) {
  animation: typingAnimation 0.8s infinite;
}

.btn_login {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(135deg, #007bff, #0056b3);
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  margin-top: 20px;
}

.btn_login:hover {
  background: linear-gradient(135deg, #0056b3, #003b80);
  transform: scale(1.05);
}

.error {
  color: red;
  font-weight: bold;
  margin-top: 10px;
  animation: shake 0.3s ease;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
